BeerClient/BeerServicesProj3/Service References/BeerService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMethods">
        <s:complexType />
      </s:element>
      <s:element name="GetMethodsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMethodsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="beerName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPriceResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="beerName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="newPrice" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPriceResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetBeers">
        <s:complexType />
      </s:element>
      <s:element name="GetBeersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBeersResult" type="tns:ArrayOfBeer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBeer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Beer" nillable="true" type="tns:Beer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Beer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCheapest">
        <s:complexType />
      </s:element>
      <s:element name="GetCheapestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCheapestResult" type="tns:Beer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCostliest">
        <s:complexType />
      </s:element>
      <s:element name="GetCostliestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCostliestResult" type="tns:Beer" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMethodsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMethods" />
  </wsdl:message>
  <wsdl:message name="GetMethodsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMethodsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPriceSoapIn">
    <wsdl:part name="parameters" element="tns:GetPrice" />
  </wsdl:message>
  <wsdl:message name="GetPriceSoapOut">
    <wsdl:part name="parameters" element="tns:GetPriceResponse" />
  </wsdl:message>
  <wsdl:message name="SetPriceSoapIn">
    <wsdl:part name="parameters" element="tns:SetPrice" />
  </wsdl:message>
  <wsdl:message name="SetPriceSoapOut">
    <wsdl:part name="parameters" element="tns:SetPriceResponse" />
  </wsdl:message>
  <wsdl:message name="GetBeersSoapIn">
    <wsdl:part name="parameters" element="tns:GetBeers" />
  </wsdl:message>
  <wsdl:message name="GetBeersSoapOut">
    <wsdl:part name="parameters" element="tns:GetBeersResponse" />
  </wsdl:message>
  <wsdl:message name="GetCheapestSoapIn">
    <wsdl:part name="parameters" element="tns:GetCheapest" />
  </wsdl:message>
  <wsdl:message name="GetCheapestSoapOut">
    <wsdl:part name="parameters" element="tns:GetCheapestResponse" />
  </wsdl:message>
  <wsdl:message name="GetCostliestSoapIn">
    <wsdl:part name="parameters" element="tns:GetCostliest" />
  </wsdl:message>
  <wsdl:message name="GetCostliestSoapOut">
    <wsdl:part name="parameters" element="tns:GetCostliestResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetMethods">
      <wsdl:input message="tns:GetMethodsSoapIn" />
      <wsdl:output message="tns:GetMethodsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPrice">
      <wsdl:input message="tns:GetPriceSoapIn" />
      <wsdl:output message="tns:GetPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPrice">
      <wsdl:input message="tns:SetPriceSoapIn" />
      <wsdl:output message="tns:SetPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBeers">
      <wsdl:input message="tns:GetBeersSoapIn" />
      <wsdl:output message="tns:GetBeersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCheapest">
      <wsdl:input message="tns:GetCheapestSoapIn" />
      <wsdl:output message="tns:GetCheapestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCostliest">
      <wsdl:input message="tns:GetCostliestSoapIn" />
      <wsdl:output message="tns:GetCostliestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMethods">
      <soap:operation soapAction="http://tempuri.org/GetMethods" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrice">
      <soap:operation soapAction="http://tempuri.org/GetPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPrice">
      <soap:operation soapAction="http://tempuri.org/SetPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBeers">
      <soap:operation soapAction="http://tempuri.org/GetBeers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheapest">
      <soap:operation soapAction="http://tempuri.org/GetCheapest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCostliest">
      <soap:operation soapAction="http://tempuri.org/GetCostliest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMethods">
      <soap12:operation soapAction="http://tempuri.org/GetMethods" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrice">
      <soap12:operation soapAction="http://tempuri.org/GetPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPrice">
      <soap12:operation soapAction="http://tempuri.org/SetPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBeers">
      <soap12:operation soapAction="http://tempuri.org/GetBeers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheapest">
      <soap12:operation soapAction="http://tempuri.org/GetCheapest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCostliest">
      <soap12:operation soapAction="http://tempuri.org/GetCostliest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:3286/BeerService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:3286/BeerService/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>